{{ form_start(formRegistration, { 'attr': {'novalidate': 'novalidate', 'class': 'formRegister'} }) }}

    <div id="step-1" class="formRegister__step formRegister__step--active">
        {{ form_widget(formRegistration.email, { 'attr': {'class': 'input'} }) }}
        {{ form_label(formRegistration.email, null, { 'label_attr': {'class': 'label'} }) }}
    </div>

    <div id="step-2" class="formRegister__step">
        {{ form_widget(formRegistration.plainPassword, { 'attr': {'class': 'input'} }) }}
        {{ form_label(formRegistration.plainPassword, null, { 'label_attr': {'class': 'label'} }) }}
    </div>

    <div id="step-3" class="formRegister__step">
        {{ form_widget(formRegistration.name, { 'attr': {'class': 'input'} }) }}
        {{ form_label(formRegistration.name, null, { 'label_attr': {'class': 'label'} }) }}
    </div>

    <div id="step-4" class="formRegister__step">
        {{ form_widget(formRegistration.country, { 'attr': {'class': 'input'} }) }}
        {{ form_label(formRegistration.country, null, { 'label_attr': {'class': 'label'} }) }}
    </div>

    <div class="formRegister__controls step-controls">
        <a href="#" class="step-controls">Previous</a>
        <a href="" class="step-controls">Next</a>
    </div>

{{ form_end(formRegistration, {renderRest: false}) }}

<div class="line-controls-step">
    <a href="" class="line-controls-step__link line-controls-step__link--active">1</a>
    <a href="" class="line-controls-step__link">2</a>
    <a href="" class="line-controls-step__link">3</a>
    <a href="" class="line-controls-step__link">4</a>
</div>